<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- ログに出力する際の、 ログのカテゴリー名の先頭に付与する。 -->
		<setting name="logPrefix" value="sql." />
	</settings>

	<typeHandlers>
		<typeHandler
			handler="jp.co.tokyo_gas.cisfw.sql.handler.CfwCharStringTypeHandler" />
		<typeHandler
			handler="jp.co.tokyo_gas.cisfw.sql.handler.CfwVarcharStringTypeHandler" />
		<typeHandler
			handler="jp.co.tokyo_gas.cisfw.sql.handler.CfwDecimalBigDecimalTypeHandler" />
	</typeHandlers>

	<plugins>
		<plugin interceptor="jp.co.tokyo_gas.cisfw.interceptor.CfwSQLExecMonitor" />
		<plugin interceptor="jp.co.tokyo_gas.cisfw.sql.register.CfwSQLRegister" />
		<plugin interceptor="jp.co.tokyo_gas.cisfw.sql.CfwSQLSetCommonParamPlugin" />
	</plugins>
	<environments default="db2">
		<environment id="db2">
			<transactionManager type="MANAGED" />
			<dataSource type="POOLED">
				<property name="driver" value="com.ibm.db2.jcc.DB2Driver" />
				<property name="url" value="jdbc:db2://localhost:50000/CIRI1170" />
				<property name="username" value="cirigt01" />
				<property name="password" value="cirigt01" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<!-- FWのコンスタントマスターや永続ファイル機能など、以下のMapperを使用する際に指定 -->
		<mapper resource="jp/co/tokyo_gas/cisfw/constantmaster/CfwConstantMasterMapper.xml" />
		<mapper resource="jp/co/tokyo_gas/cisfw/constantmaster/CfwConstantMasterRelationMapper.xml" />
		<mapper resource="jp/co/tokyo_gas/cisfw/operation/CfwOperationDateMapper.xml" />
		<mapper resource="jp/co/tokyo_gas/cisfw/menu/CfwMenuControlMapper.xml" />

		<mapper resource="jp/co/tokyo_gas/cisfw/file/CfwPermanentFileIdSequenceMapper.xml" />
		<mapper resource="jp/co/tokyo_gas/cisfw/file/CfwPermanentFileInfoMapper.xml" />
		<mapper resource="jp/co/tokyo_gas/cisfw/authcheck/CfwComponentAuthorityMasterMapper.xml" />
		<mapper resource="jp/co/tokyo_gas/cisfw/alss/CfwALSSPersonalInfoMapper.xml" />
		<mapper resource="jp/co/tokyo_gas/cisfw/sql/lock/CfwResourceLockInfoMapper.xml" />
		
		<!-- WF機能を使用する場合に指定　★★注意★★　「WorkflowMapperConfig.xml」が必要  -->
		<mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfCheckDefMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemAuthInfoEndMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemAuthInfoMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemCurrentInfoEndMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemCurrentInfoMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemDetailInfoEndMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemDetailInfoMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemHistoryDetailInfoMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemHistoryDetailInfoEndMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemHistoryInfoEndMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemHistoryInfoMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemInfoEndMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemInfoMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemNodeInfoEndMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemNodeInfoMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemNodeRoleExInfoEndMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemNodeRoleExInfoMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemNodeRoleInfoEndMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemNodeRoleInfoMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfItemSubInfoMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfNodeDefMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfNodeDetailDefMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfNodeRoleDefMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfRouteDefMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfTempfileDefMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfWorkflowDefMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfWorkflowDetailDefMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfWorkflowRoleDefMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfWorkteamDetailInfoMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/WfWorkteamInfoMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/SequenceMapper.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfItemCurrentInfoMapperEx.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfItemNodeRoleExInfoEndMapperEx.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfItemNodeRoleExInfoMapperEx.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfItemHistoryDetailInfoMapperEx.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfItemSearchInfoEndMapperEx.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfItemSearchInfoMapperEx.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfNodeDetailDefMapperEx.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfWorkflowRoleDefMapperEx.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfWorkteamDetailInfoMapperEx.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfWorkteamInfoListMapperEx.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfWorkteamInfoMapperEx.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfWorkteamSearchInfoMapperEx.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfItemHistoryInfoSearchMapperEx.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfItemHistoryInfoSearchEndMapperEx.xml" />
        <mapper resource="jp/co/tokyo_gas/cisfw/wf/dao/mapper/extend/WfItemDetailInfoMapperEx.xml" />
		
		<package name="weld.util.sample" />
	</mappers>

</configuration>